h1{color:red ;}
.header{
    background-color: skyblue;
    display:flex;
    justify-content: center;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

h3{
    color: tomato;
    text-align:center;
}
h2{
    background-color: turquoise;
    color:blue
}